body {
  background: #80DEEA  url("repkalogo.svg") no-repeat center fixed;
  background-size: cover;
  font: 600 1rem 'Open Sans', Arial;
}
header {
  font: 400 5rem 'Open Sans', Arial;
}
input {
  font: 600 0.75rem 'Open Sans',Arial;
  padding: 0.1rem 0.2rem 0.1rem 0.5rem;
  border-radius: 100px;
  border: 0.07rem #D3D3D3 solid;
  outline: none;
}
input:hover {
  border: 0.07rem #808080 solid;
}
input:focus {
  border: 0.07rem #304FFE solid;
}
button {
  font: 600 1rem 'Open Sans', Arial;
  background-color: #fdd835;
  border: solid #fdd835;
  outline: none;
  border-radius:100px;
  padding:0.4rem 2rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  color: black;
}
button:hover {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
}
button:active {
  background-color: #FBC02D;
  border-color: #FBC02D;
}
a{text-decoration: none; color: black;}
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(400latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(400cyril.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(600latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
